<section class="banner">
        <img src="/img/banner.png" alt="banner.jpg">
       
        <div class="overlay"></div>
        <div class="textOverlay">
            <h1>
                Maquinaria para <br><span>tu</span> proyecto.
            </h1>
            <p>

            </p>
            <a href="/shop" class="bnt1">Ver ahora</a>
        </div>
    </section>
    <section class="what">
        <ul class="desc">
            <li>
                <div class="box">
                    <h2>
                            Servicio de calidad garantizada.
                    </h2>
                    <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quis dolor
                    </p>
                </div>
            </li>
            <li>
                <div class="box">
                    <h2>
                          La lealtad de nuestros clientes es nuestro dever.
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quis dolor 
                    </p>
                </div>
            </li>
            <li>
                <div class="box">
                    <h2>
                        Experiencia profecional de mas de una decada.
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quis dolor 
                    </p>
                </div>
            </li>
        </ul>
    </section>