<header>
    
    <nav>
        <ul class="navigation">
            <li class="first"><a href="/">Logout</a></li>
            <li class="item"><a href="/expedientes">Expedientes</a></li>
            <li class="item"><a href="/usuarios">Usuarios</a></li>
        </ul>
    </nav>
</header>