<main>
    <table class="mt-3 table table-borderd">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Code</th>
            <th>Description</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody id="container"></tbody>
      </table>
</main>